@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,700%27');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,700%27%27');

$black: #66615B;
$grey: #ccc;
$white: #fff;
$yellow: #ff0;
$green: #8bc34a;
$blue: #29d2e4;
$orange: #f87d09;
$dark-pink: #e91e63;
$purple: #9c27b0;
$light-purple: #efedff;

$main-background: $light-purple;
*,
:after,
:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: normal 16px/1.2 Josefin Sans, sans-serif;
  background: $main-background;
}

.title {
  font-weight: normal;
  margin: 0 0 30px;
  text-align: center;
}

.section {
  padding: 50px 0;
  .alert{
    &:not(:first-child){
      margin-top: 15px;
    }
  }
}

// Alerts
@mixin alert-variant($alert-vertical-padding,
$alert-horizontal-padding,
$background,
$border-color,
$text-color) {
  background-color: $background;
  border: 1px solid $border-color;
  color: $text-color;
  padding: $alert-vertical-padding $alert-horizontal-padding;
  .alert-icon {
    float: left;
    margin-right: 15px;
  }
  .alert-info {
    margin: 0 10px 0 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
  }
  .alert-container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
  }

}

.alert {
  @include alert-variant(15px,
  20px,
  $blue,
  $blue,
  #fff);
  &.alert-custom {
    @include alert-variant(null,null,$black,$black,null);
  }
  &.alert-info {
    @include alert-variant(null,null,$blue,$blue,null);
  }
 
}

.btnnot{
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;


}

.btnnot:hover{
    background: #668ad8;
}




  .form-control-borderless {
      border: none;
  }

  .
form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
      border: none;
      outline: none;
      box-shadow: none;
  }